<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-content-child>
        <p #ref>This is a content paragraph</p>
      </app-content-child>


    
        <div appBackgroundHighlight>This should be in red background color</div>
     

      <app-users></app-users>



      <!-- <app-life-cycle-methods *ngIf="showComponent" [user]="userData" [item]="itemData"></app-life-cycle-methods>
      <button (click)="onChangeData()">change Data</button> 
      <button (click)="onDestroyComponent()">Destroy Component</button> -->



      <!-- <app-create-user>
        <div>
          <div>i want to place it at the beginning</div>
        </div>
        <div question>i want to place it at the last</div>
        <div>this one also i want to place it at the beginning</div>
        <div question>This one also i want to place it at the last</div>  
      </app-create-user> -->
    </div>
  </div>
</div>