<div class="body-container">
    <div class="img-div">
    <img src="\assets\images\maha-dad.png">
    <p class="p1">{{dadName}}</p>
    <p class="p2">{{princesName}}</p>
    <!-- <p class="p1" [innerText]="dadName"></p>
    <p class="p2" [innerText]="princesName"></p> -->
    </div>
    <div class="desc-div">
        <h2 class="text-danger">Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nobis harum pariatur, cum consectetur doloribus voluptatibus sapiente aspernatur et corrupti quisquam quos quas laudantium vitae, numquam, atque quam ut dolores ipsa libero! Est, maxime soluta qui accusantium ipsa odio accusamus eius! Minus nostrum dolores aperiam ut minima ratione doloremque praesentium, rem, animi cum exercitationem magni consectetur ad impedit deleniti ipsum, eligendi culpa excepturi commodi dolorum nemo quam? A perspiciatis distinctio eos explicabo corporis numquam nemo quae deleniti omnis dolore voluptatem ad nihil officia sed eligendi facere assumenda aliquid possimus recusandae, commodi ex autem. Molestiae ipsa facilis nam. Debitis, ducimus nihil!</p>
        <button type="button" class="btn btn-danger" (click)="onButtonClick()" [disabled]="buttonDisabled" (mouseover)="mouseOver()" (mousemove)="mouseMove()" (mouseout)="mouseOut()" (mouseup)="mouseUp()" (mousedown)="mouseDown()" (mouseleave)="mouseLeave()">ShowMoreImages</button>
    </div>
</div>
