<nav class="nav flex-column nav-pills nav-justified">
    <a routerLink="/" class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Home</a>
    <a routerLink="/aboutus" class="nav-link" routerLinkActive="active">AboutUs</a>
    <a routerLink="/categories" class="nav-link" routerLinkActive="active">Categories</a>
    <a routerLink="/users" class="nav-link" routerLinkActive="active">Users</a>
    <a routerLink="/reactiveform" class="nav-link" routerLinkActive="active">ReactiveForm</a>
    <a routerLink="/userfilter" class="nav-link" routerLinkActive="active">UserFilter</a>
</nav>